<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendance Not Available</title>
    <!-- Include Bootstrap CSS (optional) -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Include custom CSS styles -->
    <style>
      /* Add custom CSS styles here */
    </style>
  </head>
  <body class="bg-warning">
    <div class="container">
      <center><h1 class="mt-4 text-danger">Attendance Viewer</h1></center>

      <p class="mt-4 text-success h5">
        Attendance for the selected date ({{ selected_date }}) is not available.
      </p>
    </div>
    <!-- Include Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Include custom JavaScript (optional) -->
    <script>
      // Add custom JavaScript code here
    </script>
  </body>
</html>
